/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre, code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * Known issues:
 * - `select`:
 *   By default, Chrome on OS X and Safari on OS X allow very limited styling of
 *   select, unless a border property is set. The default font weight on
 *   optgroup elements cannot safely be changed in Chrome on OSX and Safari on
 *   OS X.
 * - `[type="checkbox"]`:
 *   It is recommended that you do not style checkbox and radio inputs as
 *   Firefox's implementation does not respect box-sizing, padding, or width.
 * - `[type="number"]`:
 *   Certain font size values applied to number inputs cause the cursor style of
 *   the decrement button to change from `default` to `text`.
 * - `[type="search"]`:
 *   The search input is not fully stylable by default. In Chrome and Safari on
 *   OSX/iOS you can't control `font`, `padding`, `border`, or `background`. In
 *   Chrome and Safari on Windows you can't control `border` properly. It will
 *   apply `border-width` but will only show a border color (which cannot be
 *   controlled) for the outer 1px of that border. Applying
 *   `-webkit-appearance: textfield` addresses these issues without removing the
 *   benefits of search inputs (e.g. showing past searches). Safari (but not
 *   Chrome) will clip the cancel button on when it has padding (and `textfield`
 *   appearance).
 * - `::placeholder`:
 *   In Edge, placeholders will disappear on `relative` or `absolute` positioned
 *   `<input>` elements if you use `opacity` less than `1` due to a
 *   [bug](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/3901363/).
 */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  line-height: 1.15;
  /* 1 */
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
}

figure > img {
  display: block;
}

figure {
  margin: 0;
}

svg:not(:root) {
  overflow: hidden;
}

iframe {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4a4a4a;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
}

h1 {
  font-weight: 300;
  font-size: 3.5em;
  background: -webkit-gradient(linear, left top, left bottom, from(#00ace6), to(#007399));
  background: linear-gradient(#00ace6, #007399);
  color: transparent;
  -webkit-background-clip: text;
}

@media (min-width: 45em) {
  h1 {
    font-size: 42px;
    font-size: 2.625rem;
    line-height: 48px;
    line-height: 3rem;
    margin-bottom: 10px;
  }
}

h2 {
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 30px;
  line-height: 1.875rem;
  font-weight: 300;
}

@media (min-width: 45em) {
  h2 {
    font-size: 31px;
    font-size: 1.9375rem;
    line-height: 40px;
    line-height: 2.5rem;
  }
}

h3 {
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 30px;
  line-height: 1.875rem;
  color: #0074c1;
  font-weight: 300;
  margin-bottom: 5px;
}

@media (min-width: 45em) {
  h3 {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 30px;
    line-height: 1.875rem;
  }
}

h4 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.375rem;
}

@media (min-width: 45em) {
  h4 {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 24px;
    line-height: 1.5rem;
  }
}

h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
}

h6 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
}

p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin: 0 0 20px;
}

@media (min-width: 45em) {
  p {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 26px;
    line-height: 1.625rem;
  }
}

.paragraph-body__body ol,
.cke_editable ol, .paragraph-body__body
ul,
.cke_editable
ul {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin: 0 0 20px;
}

@media (min-width: 45em) {
  .paragraph-body__body ol,
  .cke_editable ol, .paragraph-body__body
  ul,
  .cke_editable
  ul {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 26px;
    line-height: 1.625rem;
  }
}

.paragraph-body__body ol li,
.cke_editable ol li, .paragraph-body__body
ul li,
.cke_editable
ul li {
  margin-bottom: 20px;
  padding-left: 20px;
  position: relative;
}

.node__content ul li,
.cke_editable ul li {
  list-style: none;
}

.node__content ul li:before,
.cke_editable ul li:before {
  background-color: #c9413b;
  border-radius: 100%;
  content: "";
  display: block;
  height: 10px;
  left: -20px;
  position: absolute;
  top: 7px;
  width: 10px;
}

.node__content ol .lettered,
.cke_editable ol .lettered {
  list-style-type: lower-alpha;
}

blockquote {
  border: 2px solid #ccc;
  margin: 20px 60px;
  padding: 20px;
}

hr {
  background: #ccc;
  border: 0;
  clear: both;
  display: block;
  height: 2px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.clear {
  clear: both;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
  margin: 0 20px 20px 0;
}

.float-right {
  float: right;
  margin: 0 0 20px 20px;
}

.inner,
.page-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1340px;
  padding-left: 20px;
  padding-right: 20px;
}

.inner:after,
.page-container:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 86.25em) {
  .inner,
  .page-container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 45em) {
  .sidebar-first .main {
    float: right;
    width: 49.15254%;
  }
  .sidebar-first .region-sidebar-first {
    float: left;
    width: 15.25424%;
    padding-top: 25px;
  }
}

.layout-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1340px;
  padding-left: 20px;
  padding-right: 20px;
}

.layout-container:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 86.25em) {
  .layout-container {
    padding-left: 0;
    padding-right: 0;
  }
}

body.page-node-type-page .layout-container {
  max-width: none;
  padding-left: 0;
  padding-right: 0;
}

body.path-user .layout-container {
  padding-bottom: 40px;
}

@media (min-width: 45em) {
  body.path-user .layout-container {
    padding-top: 130px;
  }
}

.secondary-page-content {
  margin-top: 60px;
}

.about-us__company-history {
  background: -webkit-gradient(linear, left top, left bottom, from(#007399), to(#00ace6));
  background: linear-gradient(#007399, #00ace6);
  color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
}

.about-us__company-history-label {
  font-size: 32px;
  font-size: 2rem;
  line-height: 48px;
  line-height: 3rem;
  color: #fff;
}

@media (min-width: 45em) {
  .about-us__company-history-label {
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 48px;
    line-height: 3rem;
  }
}

@media (min-width: 63.75em) {
  .about-us__item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 0;
  }
}

.about-us__item:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

@media (min-width: 63.75em) {
  .about-us__item:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}

@media (min-width: 63.75em) {
  .about-us__column {
    width: 50%;
  }
}

.about-us__column-content {
  padding-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 63.75em) {
  .about-us__column-content {
    padding-left: 40px;
    padding-right: 40px;
  }
}

#block-contactinfo {
  margin-bottom: 20px;
  padding-left: 35px;
  position: relative;
}

@media (min-width: 45em) {
  #block-contactinfo {
    float: left;
    width: 33.89831%;
  }
}

@media (min-width: 63.75em) {
  #block-contactinfo {
    margin-bottom: 0;
    padding-right: 6.77966%;
    width: 25.42373%;
  }
}

#block-contactinfo i {
  border-radius: 50%;
  border: 2px solid #f7921d;
  display: block;
  font-size: 15px;
  height: 25px;
  left: 0;
  line-height: 12px;
  padding: 5px;
  position: absolute;
  top: 5px;
  width: 25px;
}

#block-contactinfo p {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 17px;
  line-height: 1.0625rem;
  color: #f7921d;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin-bottom: 0;
  text-transform: uppercase;
}

#block-copyright {
  border-top: 1px solid #3e3e40;
  color: #74747a;
  padding: 20px;
  text-align: center;
}

#block-copyright *:last-child {
  margin-bottom: 0;
}

#block-copyright p {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 18px;
  line-height: 1.125rem;
  font-weight: 600;
}

#block-copyright a,
#block-copyright a:visited {
  color: #74747a;
  text-decoration: none;
}

#block-copyright a:hover, #block-copyright a:focus,
#block-copyright a:visited:hover,
#block-copyright a:visited:focus {
  color: #fff;
  text-decoration: underline;
}

#block-followus {
  margin-bottom: 20px;
}

@media (min-width: 45em) {
  #block-followus {
    clear: both;
    float: left;
    margin-bottom: 0;
    width: 33.89831%;
  }
}

@media (min-width: 63.75em) {
  #block-followus {
    border-left: 1px solid #3e3e40;
    clear: none;
    padding-left: 6.77966%;
    width: 25.42373%;
  }
}

#block-followus h2 {
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 15px;
  line-height: 0.9375rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.002em;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#block-followus ul {
  margin: 0;
  padding: 0;
}

#block-followus ul li {
  float: left;
  list-style: none;
  margin: 0 0 10px;
  padding: 0 0 0 30px;
  position: relative;
  width: 50%;
}

@media (min-width: 63.75em) {
  #block-followus ul li {
    float: none;
    width: auto;
  }
}

#block-followus ul li:last-child {
  margin-bottom: 0;
}

#block-followus i {
  display: block;
  font-size: 18px;
  height: 20px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 20px;
}

#block-followus a,
#block-followus a:visited {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 18px;
  line-height: 1.125rem;
  color: #74747a;
  display: block;
  text-decoration: none;
}

#block-followus a:hover, #block-followus a:focus,
#block-followus a:visited:hover,
#block-followus a:visited:focus {
  color: #fff;
  text-decoration: underline;
}

#block-footerlogos {
  padding: 20px;
  text-align: center;
}

@media (min-width: 45em) {
  #block-footerlogos {
    padding: 30px 0;
  }
}

#block-footerlogos .field__item ul {
  margin: 0;
  padding: 0;
}

#block-footerlogos .field__item ul li {
  display: inline-block;
  list-style: none;
  margin: 0 10px 20px;
  padding: 0;
}

@media (min-width: 45em) {
  #block-footerlogos .field__item ul li {
    margin-bottom: 0;
  }
}

@media (min-width: 63.75em) {
  #block-footerlogos .field__item ul li {
    margin-left: 15px;
    margin-right: 15px;
  }
}

#block-footerlogos .field__item ul li:first-child {
  margin-left: 0;
}

#block-footerlogos .field__item ul li:last-child {
  margin-right: 0;
}

#block-footerlogos .field__item img {
  display: block;
  height: 30px;
}

@media (min-width: 63.75em) {
  #block-footerlogos .field__item img {
    height: 50px;
  }
}

.block-local-tasks-block {
  border: 1px solid #cedde5;
  border-bottom: 0;
  margin-bottom: 20px;
}

@media (min-width: 45em) {
  .block-local-tasks-block {
    border: 0;
    border-bottom: 1px solid #cedde5;
  }
}

body.user-logged-in .block-local-tasks-block {
  background-color: #fff;
  border: 0;
  border-bottom: 1px solid #cedde5;
  border-top-right-radius: 3px;
  bottom: 0;
  -webkit-box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.5);
  left: 0;
  margin-bottom: 0;
  padding: 10px;
  position: fixed;
  z-index: 9999;
}

.block-local-tasks-block .tabs {
  margin: 0;
}

.block-local-tasks-block .tabs li {
  border-bottom: 1px solid #cedde5;
  display: block;
  margin: 0;
}

@media (min-width: 45em) {
  .block-local-tasks-block .tabs li {
    border-bottom: 0;
    display: inline-block;
  }
}

.block-local-tasks-block .tabs a,
.block-local-tasks-block .tabs a:visited {
  padding: 10px 20px;
}

@media (min-width: 26.25em) {
  .block-quote__column {
    width: 100%;
  }
}

@media (min-width: 45em) {
  .block-quote__column {
    width: 49.15254%;
  }
}

@media (min-width: 45em) {
  .block-quote__column {
    width: 49.15254%;
  }
}

@media (min-width: 63.75em) {
  .block-quote__column {
    width: 49.15254%;
  }
}

.block-quote__column-left {
  clear: right;
  float: left;
}

.block-quote__column-right {
  clear: left;
  float: right;
}

#block-secondarylinks {
  font-size: 10px;
  font-size: 0.625rem;
  line-height: 50px;
  line-height: 3.125rem;
  font-weight: 700;
  letter-spacing: 0.11em;
  text-transform: uppercase;
}

@media (min-width: 45em) {
  #block-secondarylinks {
    float: right;
  }
}

#block-secondarylinks ul {
  margin: 0;
  padding: 0;
}

#block-secondarylinks ul li {
  display: inline-block;
  list-style: none;
  margin: 0 10px 0 0;
  padding: 0 0 0 30px;
  position: relative;
}

@media (min-width: 45em) {
  #block-secondarylinks ul li {
    margin-left: 32px;
    margin-right: 0;
  }
  #block-secondarylinks ul li:first-child {
    margin-left: 0;
  }
}

#block-secondarylinks i {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  border-radius: 50%;
  border: 2px solid #fff;
  display: block;
  font-size: 10px;
  height: 22px;
  left: 0;
  line-height: 6px;
  padding: 5px;
  width: 22px;
}

#block-secondarylinks a:hover, #block-secondarylinks a:focus,
#block-secondarylinks a:visited:hover,
#block-secondarylinks a:visited:focus {
  color: #fff;
}

@media (min-width: 0) and (max-width: 44.9375em) {
  .block-secondarylinks__hidden-small-devices {
    display: none !important;
  }
}

#block-secondarylinkslandingpage {
  font-size: 10px;
  font-size: 0.625rem;
  line-height: 50px;
  line-height: 3.125rem;
  font-weight: 700;
  letter-spacing: 0.11em;
  text-transform: uppercase;
}

@media (min-width: 45em) {
  #block-secondarylinkslandingpage {
    float: right;
  }
}

#block-secondarylinkslandingpage ul {
  margin: 0;
  padding: 0;
}

#block-secondarylinkslandingpage ul li {
  display: inline-block;
  list-style: none;
  margin: 0 10px 0 0;
  padding: 0 0 0 30px;
  position: relative;
}

@media (min-width: 45em) {
  #block-secondarylinkslandingpage ul li {
    margin-left: 32px;
    margin-right: 0;
  }
  #block-secondarylinkslandingpage ul li:first-child {
    margin-left: 0;
  }
}

#block-secondarylinkslandingpage i {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  border-radius: 50%;
  border: 2px solid #fff;
  display: block;
  font-size: 10px;
  height: 22px;
  left: 0;
  line-height: 6px;
  padding: 5px;
  width: 22px;
}

#block-secondarylinkslandingpage a:hover, #block-secondarylinkslandingpage a:focus,
#block-secondarylinkslandingpage a:visited:hover,
#block-secondarylinkslandingpage a:visited:focus {
  color: #fff;
}

#block-sunpower-branding {
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
}

@media (min-width: 45em) {
  #block-sunpower-branding {
    background-color: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    padding-bottom: 0;
    padding: 50px 30px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 265px;
    z-index: 3;
  }
}

#block-sunpower-branding img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 205px;
}

#block-sunpower-branding .site-name {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 18px;
  line-height: 1.125rem;
  border-top: 1px solid #c6c6c6;
  margin-top: 5px;
  padding-top: 3px;
  text-align: center;
}

#block-sunpower-branding .site-name a,
#block-sunpower-branding .site-name a:visited {
  color: #4a4a4a;
  text-decoration: none;
}

.btn,
.btn:visited {
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 17px;
  line-height: 1.0625rem;
  background-color: #f7921d;
  border: 0;
  border-bottom: 4px solid #d97808;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-right: 10px;
  padding: 17px 41px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn:hover, .btn:focus,
.btn:visited:hover,
.btn:visited:focus {
  background-color: #f28609;
  text-decoration: none;
}

.btn--secondary,
.btn--secondary:visited {
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 17px;
  line-height: 1.0625rem;
  background-color: #f7921d;
  border: 0;
  border-bottom: 4px solid #d97808;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-right: 10px;
  padding: 17px 41px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background-color: #1489b8;
  border: 1px solid #1489b8;
  color: #fff;
}

.btn--secondary:hover, .btn--secondary:focus,
.btn--secondary:visited:hover,
.btn--secondary:visited:focus {
  background-color: #f28609;
  text-decoration: none;
}

.btn--secondary:hover, .btn--secondary:focus,
.btn--secondary:visited:hover,
.btn--secondary:visited:focus {
  background-color: #fff;
  color: #1489b8;
}

.comment {
  border: 2px solid #ecedee;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 10px 15px;
}

.comment-form .form-actions .button {
  padding: 10px 20px;
}

.comment-form label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.comment-form .filter-wrapper {
  display: none;
}

.view-contact-map {
  border-top: 1px solid #cedde5;
  padding-top: 50px;
}

.view-contact-map__title {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 32px;
  line-height: 2rem;
  padding-top: 50px;
  text-align: center;
}

@media (min-width: 45em) {
  .view-contact-map__title {
    font-size: 42px;
    font-size: 2.625rem;
    line-height: 60px;
    line-height: 3.75rem;
  }
}

@media (min-width: 26.25em) {
  .view-contact-map__store-contact {
    width: 100%;
  }
}

@media (min-width: 45em) {
  .view-contact-map__store-contact {
    width: 49.15254%;
  }
}

@media (min-width: 45em) {
  .view-contact-map__store-contact {
    width: 49.15254%;
  }
}

@media (min-width: 63.75em) {
  .view-contact-map__store-contact {
    width: 32.20339%;
  }
}

.view-contact-map__store-contact-left {
  clear: right;
  float: left;
}

.view-contact-map__store-contact-right {
  clear: left;
  float: right;
}

.view-contact-map__store-image {
  height: 300px;
}

.view-contact-map__store-state {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 40px;
  line-height: 2.5rem;
  color: #1f3d7a;
  padding-top: 50px;
}

.view-contact-map__store-address {
  color: #666;
  padding-top: 10px;
}

@media (min-width: 26.25em) {
  .view-contact-map__store-address {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 0px;
    line-height: 0rem;
  }
}

@media (min-width: 45em) {
  .view-contact-map__store-address {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 0px;
    line-height: 0rem;
  }
}

.view-contact-map__store-contact-info {
  padding-top: 20px;
}

.view-contact-map__store-map {
  padding-top: 30px;
}

.view-contact-map__store-interactive-map {
  margin-top: 60px;
  margin-bottom: 60px;
}

.view-contact-map__store-separator {
  padding-right: 10px;
  margin-right: 10px;
}

.view-contact-map__address-content {
  padding-left: 20px;
  padding-right: 20px;
}

.form-job-posting__column {
  clear: right;
  float: left;
}

@media (min-width: 26.25em) {
  .form-job-posting__column {
    width: 100%;
  }
}

@media (min-width: 45em) {
  .form-job-posting__column {
    width: 49.15254%;
  }
}

.form-job-posting__column-full {
  clear: right;
  float: left;
}

@media (min-width: 63.75em) {
  .form-job-posting__column-full {
    width: 100%;
  }
}

.form-job-posting__step-label {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 12px;
  line-height: 0.75rem;
  color: #999;
  line-height: 80%;
}

.form-job-posting__step-number {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 12px;
  line-height: 0.75rem;
  margin-top: 20px;
  color: #999;
  text-align: left;
  line-height: 80%;
}

.form-job-posting__step-name {
  color: #2e5cb8;
  font-weight: bold;
  text-align: left;
  line-height: 60%;
}

@media (min-width: 26.25em) {
  .form-job-posting__step-name {
    font-size: 32px;
    font-size: 2rem;
    line-height: 36px;
    line-height: 2.25rem;
  }
}

.form-job-posting__step-description {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 14px;
  line-height: 0.875rem;
  text-align: left;
  line-height: 50%;
}

.form-job-posting__pull-left {
  text-align: left;
}

.form-job-posting__field-top-margin {
  margin-top: 20px;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-submit {
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 17px;
  line-height: 1.0625rem;
  background-color: #f7921d;
  border: 0;
  border-bottom: 4px solid #d97808;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-right: 10px;
  padding: 17px 41px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.form-submit:hover, .form-submit:focus {
  background-color: #f28609;
  text-decoration: none;
}

.form-text,
.form-email,
.form-tel,
textarea,
select {
  background-color: #f6f6f6;
  border: 2px solid #ecedee;
  border-radius: 4px;
  max-width: 100%;
  padding: 10px 15px;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.form-text:focus,
.form-email:focus,
.form-tel:focus,
textarea:focus,
select:focus {
  background-color: #fff;
}

.form-item {
  margin: 0 0 20px;
}

.form-item:last-child {
  margin-bottom: 0;
}

fieldset {
  border: 2px solid #ccc;
  min-width: auto;
  padding: 20px;
}

fieldset .fieldset-legend {
  background-color: #fff;
  display: block;
  font-weight: 600;
  margin-left: -10px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
}

fieldset fieldset {
  border-width: 1px;
}

form .description {
  margin-top: 5px;
}

.messages {
  margin-bottom: 20px;
}

.view-interactive-map {
  border-top: 1px solid #cedde5;
  padding-top: 50px;
}

.view-interactive-map__title {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 34px;
  line-height: 2.125rem;
  text-align: center;
}

@media (min-width: 45em) {
  .view-interactive-map__title {
    font-size: 50px;
    font-size: 3.125rem;
    line-height: 68px;
    line-height: 4.25rem;
  }
}

@media (min-width: 45em) {
  .view-interactive-map .mapDetails .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.view-interactive-map .mapDetails .inner h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 36px;
  line-height: 2.25rem;
}

.view-interactive-map__address {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 45em) {
  .view-interactive-map__address {
    width: 32.20339%;
  }
}

.view-interactive-map__details {
  border-bottom: 1px solid #cedde5;
  border-top: 1px solid #cedde5;
  padding-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 45em) {
  .view-interactive-map__details {
    border-bottom: 0;
    border-left: 1px solid #cedde5;
    border-right: 1px solid #cedde5;
    border-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    width: 32.20339%;
  }
}

@media (min-width: 63.75em) {
  .view-interactive-map__details {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.view-interactive-map__image {
  padding-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 45em) {
  .view-interactive-map__image {
    padding-left: 20px;
    width: 32.20339%;
  }
}

.view-interactive-map__image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 150px;
}

.interactivemap {
  height: 330px;
  display: block;
}

.mapstore {
  background-color: #fff;
  border-left: 1px solid #dadada;
  height: 40px;
  position: absolute;
  visibility: visible;
  width: 2000px;
  z-index: 200;
}

.mapSection {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 27px;
  line-height: 1.6875rem;
  color: #ababab;
  display: none;
  margin-bottom: 10px;
  text-align: left;
}

.verticalLine {
  border-left: 2px solid #dadada;
  height: 100px;
}

.mapStoreStateFlag {
  background-color: #3973ac;
  border: 1px solid;
  height: 40px;
  margin: 1em 0;
  text-align: center;
  white-space: nowrap;
  width: 60px;
}

.imgStoreStateFlag {
  max-height: 25px;
  max-width: 160px;
  vertical-align: middle;
}

.frameHelper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mapStoreName {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 18px;
  line-height: 1.125rem;
  font-weight: bold;
}

.mapStoreNameAddress {
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 16.5px;
  line-height: 1.03125rem;
  color: #7a7a7a;
}

.mapFrame {
  left: 200px;
  margin-top: 50px;
  padding: 0;
  position: absolute;
  visibility: hidden;
  z-index: 1;
}

.mapStoreFrameText {
  background-color: #fff;
  height: 40px;
  padding: 5px;
}

.image-style {
  border: 7px solid #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.mapSectionDetailsContent {
  max-width: 500px;
}

.mapDetails {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.menu-footer {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 18px;
  line-height: 1.125rem;
}

.menu-footer:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 45em) {
  .menu-footer {
    float: right;
    width: 66.10169%;
  }
}

@media (min-width: 63.75em) {
  .menu-footer {
    width: 49.15254%;
  }
}

.menu-footer ul {
  margin: 0;
  padding: 0;
}

.menu-footer ul .menu-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-footer ul .menu-item--expanded {
  float: left;
  margin-bottom: 20px;
  width: 50%;
}

@media (min-width: 45em) {
  .menu-footer ul .menu-item--expanded {
    margin-bottom: 0;
    width: 33.33333%;
  }
}

.menu-footer ul .menu-item--expanded > a,
.menu-footer ul .menu-item--expanded > a:visited {
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 15px;
  line-height: 0.9375rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.002em;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.menu-footer ul ul {
  float: none;
  width: 100%;
}

@media (min-width: 45em) {
  .menu-footer ul ul {
    padding-right: 20px;
  }
}

.menu-footer ul ul .menu-item {
  margin-bottom: 10px;
}

.menu-footer ul ul .menu-item:last-child {
  margin-bottom: 0;
}

.menu-footer a,
.menu-footer a:visited {
  color: #74747a;
  display: block;
  text-decoration: none;
}

.menu-footer a:hover, .menu-footer a:focus,
.menu-footer a:visited:hover,
.menu-footer a:visited:focus {
  color: #fff;
}

.menu-footer a.is-active,
.menu-footer a:visited.is-active {
  color: #fff !important;
  font-weight: 600;
  text-decoration: none;
}

#block-footer .nav-toggle {
  display: none !important;
}

@media (min-width: 45em) {
  .menu-main {
    float: right;
  }
}

.menu-main nav.menu {
  background-image: linear-gradient(153deg, #03538a, #008aba);
  height: 100%;
  left: -100%;
  overflow: auto;
  position: fixed;
  top: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 100%;
  z-index: 998;
}

@media (min-width: 45em) {
  .menu-main nav.menu {
    background-image: none;
    left: auto;
    overflow-x: hidden;
    overflow-y: visible;
    position: static;
    text-align: right;
    width: auto;
  }
}

.is-navigation-expanded .menu-main nav.menu {
  left: 0;
}

.menu-main nav.menu .menu-header {
  background-color: #054471;
  color: #fff;
  display: block;
  height: 50px;
  position: relative;
  text-align: center;
}

@media (min-width: 45em) {
  .menu-main nav.menu .menu-header {
    display: none;
  }
}

.menu-main nav.menu .menu-header__content {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.menu-main nav.menu .menu-header__site-name {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 14px;
  line-height: 0.875rem;
}

.menu-main nav.menu .menu {
  margin: 0;
  padding: 0;
}

@media (min-width: 45em) {
  .menu-main nav.menu .menu {
    float: right;
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media (min-width: 63.75em) {
  .menu-main nav.menu .menu {
    margin-left: -45px;
    margin-right: -45px;
  }
}

.menu-main nav.menu .menu-item {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  font-weight: 700;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

@media (min-width: 45em) {
  .menu-main nav.menu .menu-item {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 80px;
    line-height: 5rem;
    border-bottom: 0;
    border-top: 0;
    float: left;
    font-weight: 600;
    position: static;
  }
}

.menu-main nav.menu .menu-item:after {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  bottom: -2px;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 100%;
}

@media (min-width: 45em) {
  .menu-main nav.menu .menu-item:after {
    display: none;
  }
}

.menu-main nav.menu .menu-item--expanded .menu {
  background-color: #065381;
  background-image: none;
  border-left: 5px solid #f7921d;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.22);
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.22);
  padding-left: 10px;
  position: static;
}

@media (min-width: 45em) {
  .menu-main nav.menu .menu-item--expanded .menu {
    background-color: transparent;
    border-left: 0;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.menu-main nav.menu .menu-item--expanded .menu a,
.menu-main nav.menu .menu-item--expanded .menu a:visited {
  padding-bottom: 10px;
  padding-top: 10px;
}

.menu-main nav.menu .menu-item--expanded .menu-item {
  border-bottom: 0;
  border-top: 0;
}

.menu-main nav.menu .menu-item--expanded .menu-item:after {
  display: none;
}

.menu-main nav.menu .menu-item--expanded .menu-item__field-link {
  display: none;
}

@media (min-width: 45em) {
  .menu-main nav.menu .menu-item--expanded .menu-item__field-link {
    display: block;
  }
}

.menu-main nav.menu .menu-item--expanded .menu .menu {
  border-left: 0;
  border-top: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-left: 30px;
}

@media (min-width: 45em) {
  .menu-main nav.menu .menu-item--expanded .menu .menu {
    padding-left: 0;
  }
}

.menu-main nav.menu .menu-item--expanded .menu .menu a,
.menu-main nav.menu .menu-item--expanded .menu .menu a:visited {
  position: relative;
}

.menu-main nav.menu .menu-item--expanded .menu .menu a:after,
.menu-main nav.menu .menu-item--expanded .menu .menu a:visited:after {
  border-radius: 50%;
  border: 1px solid #fff;
  content: "";
  display: block;
  height: 8px;
  left: 0;
  position: absolute;
  -webkit-transition: border-color .3s ease;
  transition: border-color .3s ease;
  top: 18px;
  width: 8px;
}

@media (min-width: 45em) {
  .menu-main nav.menu .menu-item--expanded .menu .menu a:after,
  .menu-main nav.menu .menu-item--expanded .menu .menu a:visited:after {
    display: none;
  }
}

.menu-main nav.menu .menu-item--expanded .menu .menu a.is-active:after, .menu-main nav.menu .menu-item--expanded .menu .menu a:hover:after, .menu-main nav.menu .menu-item--expanded .menu .menu a:focus:after,
.menu-main nav.menu .menu-item--expanded .menu .menu a:visited.is-active:after,
.menu-main nav.menu .menu-item--expanded .menu .menu a:visited:hover:after,
.menu-main nav.menu .menu-item--expanded .menu .menu a:visited:focus:after {
  border-color: #f7921d;
}

.menu-main nav.menu .menu-item--expanded .menu-dropdown__image, .menu-main nav.menu .menu-item--expanded .menu-dropdown__description {
  display: none;
}

@media (min-width: 45em) {
  .menu-main nav.menu .menu-item--expanded .menu-dropdown__image, .menu-main nav.menu .menu-item--expanded .menu-dropdown__description {
    display: block;
  }
}

@media (min-width: 45em) {
  .menu-main nav.menu .menu-item--expanded > .menu-dropdown {
    background-color: #eff4f7;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 130px;
    visibility: hidden;
    width: 100%;
    z-index: 999;
  }
  .menu-main nav.menu .menu-item--expanded > .menu-dropdown > .menu {
    margin-left: auto;
    margin-right: auto;
    max-width: 1340px;
    padding-left: 20px;
    padding-right: 20px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
  }
  .menu-main nav.menu .menu-item--expanded > .menu-dropdown > .menu:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (min-width: 45em) and (min-width: 86.25em) {
  .menu-main nav.menu .menu-item--expanded > .menu-dropdown > .menu {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 45em) {
  .menu-main nav.menu .menu-item--expanded > .menu-dropdown .menu-item {
    float: left;
    margin-bottom: 10px;
    min-height: 135px;
    overflow: hidden;
    padding-left: 165px;
    padding-right: 1.69492%;
    padding-top: 20px;
    position: relative;
    width: 74.57627%;
  }
  .menu-main nav.menu .menu-item--expanded > .menu-dropdown .menu-item--expanded {
    -webkit-box-shadow: -10px 0 10px -10px rgba(0, 0, 0, 0.25);
    box-shadow: -10px 0 10px -10px rgba(0, 0, 0, 0.25);
    float: right;
    min-height: auto;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 0;
    width: 23.72881%;
  }
  .menu-main nav.menu .menu-item--expanded > .menu-dropdown .menu-item--expanded .menu {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
  }
  .menu-main nav.menu .menu-item--expanded > .menu-dropdown .menu-item--expanded .menu .menu-item {
    float: none;
    height: auto;
    padding-left: 0;
    min-height: auto;
    width: 100%;
  }
  .menu-main nav.menu .menu-item--expanded > .menu-dropdown .menu-item--expanded .menu a,
  .menu-main nav.menu .menu-item--expanded > .menu-dropdown .menu-item--expanded .menu a:visited {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 24px;
    line-height: 1.5rem;
    color: #4a90e2;
    font-weight: 600;
    text-transform: none;
  }
  .menu-main nav.menu .menu-item--expanded > .menu-dropdown .menu-item--expanded .menu p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 22px;
    line-height: 1.375rem;
  }
  .menu-main nav.menu .menu-item--expanded > .menu-dropdown .menu-item:last-child {
    margin-bottom: 0;
  }
  .menu-main nav.menu .menu-item--expanded > .menu-dropdown .menu-item a,
  .menu-main nav.menu .menu-item--expanded > .menu-dropdown .menu-item a:visited {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 27px;
    line-height: 1.6875rem;
    color: #585858;
    font-weight: 300;
    height: auto;
    padding: 0;
    text-transform: uppercase;
  }
  .menu-main nav.menu .menu-item--expanded > .menu-dropdown .menu-item p {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 24px;
    line-height: 1.5rem;
    margin-bottom: 0;
  }
  .menu-main nav.menu .menu-item--expanded .menu-dropdown__image {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
  .menu-main nav.menu .menu-item--expanded .menu-dropdown__image img {
    display: block;
    height: 135px;
    width: 135px;
  }
  .menu-main nav.menu .menu-item--expanded .menu-dropdown__description {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 24px;
    line-height: 1.5rem;
    color: #000;
    display: block;
    font-weight: 400;
    text-transform: none;
  }
  .menu-main nav.menu .menu-item--expanded:hover {
    background-color: #eff4f7;
  }
  .menu-main nav.menu .menu-item--expanded:hover > .menu-dropdown {
    height: auto;
    opacity: 1;
    visibility: visible;
  }
}

.menu-main nav.menu .menu a,
.menu-main nav.menu .menu a:visited {
  color: #fff;
  display: block;
  padding: 20px;
  text-decoration: none;
}

@media (min-width: 45em) {
  .menu-main nav.menu .menu a,
  .menu-main nav.menu .menu a:visited {
    color: #3b6079;
    padding: 10px;
  }
}

@media (min-width: 63.75em) {
  .menu-main nav.menu .menu a,
  .menu-main nav.menu .menu a:visited {
    height: 80px;
    padding: 0 45px;
  }
}

.menu-main nav.menu .menu a:hover, .menu-main nav.menu .menu a:focus, .menu-main nav.menu .menu a.is-active,
.menu-main nav.menu .menu a:visited:hover,
.menu-main nav.menu .menu a:visited:focus,
.menu-main nav.menu .menu a:visited.is-active {
  color: #f7921d;
  text-decoration: none;
}

@media (min-width: 45em) {
  .menu-main nav.menu .menu a:hover, .menu-main nav.menu .menu a:focus, .menu-main nav.menu .menu a.is-active,
  .menu-main nav.menu .menu a:visited:hover,
  .menu-main nav.menu .menu a:visited:focus,
  .menu-main nav.menu .menu a:visited.is-active {
    color: #1489b8;
  }
}

.nav-toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: none;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 50px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  top: 0;
  white-space: nowrap;
  width: 50px;
  z-index: 999;
}

@media (min-width: 45em) {
  .nav-toggle {
    display: none !important;
  }
}

.nav-toggle:focus {
  outline: 0;
}

.nav-toggle span {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  background-color: #fff;
  display: block;
  height: 1px;
  left: 12px;
  right: 0;
  -webkit-transition: background .3s, .3s;
  transition: background .3s, .3s;
  width: 28px;
}

.nav-toggle span:before, .nav-toggle span:after {
  background-color: #fff;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  -webkit-transition-duration: .3s, .3s;
  transition-duration: .3s, .3s;
  width: 100%;
}

.nav-toggle span:before {
  top: -9px;
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
}

.nav-toggle span:after {
  bottom: -9px;
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform;
}

.nav-toggle.is-active span {
  background-color: transparent;
}

.nav-toggle.is-active span:before {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-toggle.is-active span:after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.paragraph-body-and-form {
  background-color: #f3f7f8;
  padding-bottom: 40px;
  padding-top: 40px;
}

@media (min-width: 63.75em) {
  .paragraph-body-and-form .inner {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 63.75em) {
  .paragraph-body-and-form .field--name-field-body {
    padding-right: 40px;
    width: 50%;
  }
}

@media (min-width: 63.75em) {
  .paragraph-body-and-form .field--type-webform {
    padding-left: 40px;
    width: 50%;
  }
}

.paragraph-body-and-form .field--type-webform .webform-submission-quote-form {
  max-width: none;
  width: 100%;
}

.paragraph-body-and-form .field--type-webform .webform-submission-quote-form .form-item input {
  background-color: #fff;
  border: 1px solid #ccc;
}

.paragraph-body {
  margin-left: auto;
  margin-right: auto;
  max-width: 1340px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.paragraph-body:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 86.25em) {
  .paragraph-body {
    padding-left: 0;
    padding-right: 0;
  }
}

.paragraph-body *:last-child {
  margin-bottom: 0;
}

.paragraph-divider {
  background-color: #cedde5;
  border: 0;
  display: block;
  height: 1px;
  margin: 20px auto 40px;
}

.paragraph-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 1340px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.paragraph-form:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 86.25em) {
  .paragraph-form {
    padding-left: 0;
    padding-right: 0;
  }
}

.paragraph-hero {
  overflow: hidden;
  position: relative;
  text-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
}

@media (min-width: 63.75em) {
  .paragraph-hero {
    max-height: 420px;
    overflow: hidden;
  }
}

.paragraph-hero__content {
  color: #fff;
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
  z-index: 2;
}

@media (min-width: 63.75em) {
  .paragraph-hero__content {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding-bottom: 0;
    padding-top: 0;
    width: 100%;
  }
}

@media (min-width: 45em) {
  .paragraph-hero__content .inner {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.paragraph-hero__body {
  text-align: center;
}

@media (min-width: 45em) {
  .paragraph-hero__body {
    margin-bottom: 20px;
    text-align: left;
    width: 49.15254%;
  }
}

@media (min-width: 45em) {
  .paragraph-hero__body {
    padding-right: 3.38983%;
  }
}

@media (min-width: 63.75em) {
  .paragraph-hero__body {
    width: 66.10169%;
  }
}

.paragraph-hero__body h2 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 24px;
  line-height: 1.5rem;
  color: #fff;
  font-weight: 400;
  margin-bottom: 20px;
  letter-spacing: -0.01em;
}

@media (min-width: 45em) {
  .paragraph-hero__body h2 {
    font-size: 38px;
    font-size: 2.375rem;
    line-height: 46px;
    line-height: 2.875rem;
  }
}

@media (min-width: 63.75em) {
  .paragraph-hero__body h2 {
    font-size: 52px;
    font-size: 3.25rem;
    line-height: 52px;
    line-height: 3.25rem;
  }
}

@media (min-width: 63.75em) {
  .paragraph-hero__body p {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 33px;
    line-height: 2.0625rem;
  }
}

.paragraph-hero__image:after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media (min-width: 45em) {
  .paragraph-hero__image:after {
    display: none;
  }
}

.paragraph-hero__image img {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  display: block;
  height: 100%;
  max-width: none;
  top: 0;
  width: auto;
}

@media (min-width: 45em) and (max-width: 63.6875em) {
  .paragraph-hero__image img {
    height: auto;
    width: auto;
  }
}

@media (min-width: 63.75em) {
  .paragraph-hero__image img {
    position: relative;
  }
}

@media (min-width: 86.25em) {
  .paragraph-hero__image img {
    height: auto;
    width: 100%;
  }
}

.paragraph-slideshow-gallery {
  position: relative;
  text-align: center;
}

.paragraph-slideshow-gallery__content .inner {
  background-color: #666;
  height: 100%;
  position: relative;
}

.paragraph-slideshow-gallery .slick__arrow {
  bottom: 80px;
  position: absolute;
  width: 100%;
}

.paragraph-slideshow-gallery .slick__arrow .slick-arrow {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: block;
  height: 40px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-indent: -999em;
  top: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 40px;
}

.paragraph-slideshow-gallery .slick__arrow .slick-arrow:before {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "FontAwesome";
  font-size: 20px;
  text-indent: 0;
}

@media (min-width: 63.75em) {
  .paragraph-slideshow-gallery .slick__arrow .slick-arrow:before {
    font-size: 24px;
  }
}

.paragraph-slideshow-gallery .slick__arrow .slick-arrow.slick-prev {
  left: 20px;
}

.paragraph-slideshow-gallery .slick__arrow .slick-arrow.slick-prev:before {
  content: "\f053";
  margin-left: -2px;
}

.paragraph-slideshow-gallery .slick__arrow .slick-arrow.slick-next {
  right: 20px;
}

.paragraph-slideshow-gallery .slick__arrow .slick-arrow.slick-next:before {
  content: "\f054";
  margin-left: 2px;
}

.paragraph-slideshow-gallery .slick .slide img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.paragraph-slideshow-gallery .slick--thumbnail {
  background-color: #3d3d3d;
  padding-left: 80px;
  padding-right: 80px;
}

.paragraph-slideshow-gallery .slick--thumbnail .slide {
  background-color: transparent;
  cursor: pointer;
  padding: 20px;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
  width: auto !important;
}

.paragraph-slideshow-gallery .slick--thumbnail .slide.slick-current {
  background-color: #acacac;
}

.paragraph-slideshow-gallery .slick--thumbnail .slide img {
  border-radius: 3px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.paragraph-slideshow {
  position: relative;
  text-align: center;
}

.paragraph-slideshow__content {
  color: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  z-index: 2;
}

@media (min-width: 63.75em) {
  .paragraph-slideshow__content {
    height: 100%;
    padding-bottom: 0;
    padding-top: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.paragraph-slideshow__content .inner {
  height: 100%;
  position: relative;
}

.paragraph-slideshow__body {
  background-color: rgba(0, 0, 0, 0.35);
  margin-left: 25px;
  margin-right: 25px;
  padding: 20px;
}

@media (min-width: 63.75em) {
  .paragraph-slideshow__body {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
    padding-left: 40px;
    padding-right: 40px;
    right: 90px;
    text-align: left;
  }
}

@media (min-width: 93.75em) {
  .paragraph-slideshow__body {
    right: 0;
  }
}

.paragraph-slideshow__body h1,
.paragraph-slideshow__body h2 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 24px;
  line-height: 1.5rem;
  color: #fff;
  font-weight: 400;
  margin-bottom: 20px;
  letter-spacing: -0.01em;
}

@media (min-width: 45em) {
  .paragraph-slideshow__body h1,
  .paragraph-slideshow__body h2 {
    font-size: 38px;
    font-size: 2.375rem;
    line-height: 46px;
    line-height: 2.875rem;
  }
}

@media (min-width: 63.75em) {
  .paragraph-slideshow__body p {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 33px;
    line-height: 2.0625rem;
  }
}

.paragraph-slideshow__body p:last-child {
  margin-bottom: 0;
}

.paragraph-slideshow__image img {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  display: block;
  height: 420px;
  max-width: none;
  top: 0;
  width: auto;
}

@media (min-width: 45em) {
  .paragraph-slideshow__image img {
    height: auto;
    width: 100%;
  }
}

@media (min-width: 63.75em) {
  .paragraph-slideshow__image img {
    position: relative;
  }
}

.paragraph-slideshow .slick-dots {
  margin: 20px 0 0;
  padding: 0;
  position: absolute;
  bottom: 5px;
  width: 100%;
  left: 0;
}

@media (min-width: 63.75em) {
  .paragraph-slideshow .slick-dots {
    bottom: 20px;
    margin-top: 40px;
  }
}

.paragraph-slideshow .slick-dots li {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
  padding: 0;
  vertical-align: middle;
}

.paragraph-slideshow .slick-dots li.slick-active button {
  background-color: #fff;
  height: 15px;
  width: 15px;
}

.paragraph-slideshow .slick-dots button {
  background-color: #a6a7a8;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  display: block;
  height: 10px;
  line-height: 20px;
  overflow: hidden;
  padding: 0;
  text-indent: -999em;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 10px;
}

.paragraph-slideshow .slick .slick-arrow {
  background-color: rgba(0, 0, 0, 0.35);
  border: 0;
  cursor: pointer;
  display: block;
  height: 100%;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-indent: -999em;
  top: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 35px;
}

@media (min-width: 63.75em) {
  .paragraph-slideshow .slick .slick-arrow {
    width: 70px;
  }
}

.paragraph-slideshow .slick .slick-arrow:hover, .paragraph-slideshow .slick .slick-arrow:focus {
  background-color: rgba(0, 0, 0, 0.65);
}

.paragraph-slideshow .slick .slick-arrow:after {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "FontAwesome";
  font-size: 20px;
  text-indent: 0;
}

@media (min-width: 63.75em) {
  .paragraph-slideshow .slick .slick-arrow:after {
    font-size: 24px;
  }
}

.paragraph-slideshow .slick .slick-arrow.slick-prev {
  border-right: 1px solid #fff;
  left: 0;
}

.paragraph-slideshow .slick .slick-arrow.slick-prev:after {
  content: "\f053";
  margin-left: -4px;
}

.paragraph-slideshow .slick .slick-arrow.slick-next {
  border-left: 1px solid #fff;
  right: 0;
}

.paragraph-slideshow .slick .slick-arrow.slick-next:after {
  content: "\f054";
  margin-left: 4px;
}

.slideshow-item {
  overflow: hidden;
  text-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
  text-align: center;
}

@media (min-width: 63.75em) {
  .slideshow-item {
    max-height: 420px;
    overflow: hidden;
    position: relative;
  }
}

.paragraph-two-column {
  padding-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 45em) {
  .paragraph-two-column {
    padding-bottom: 90px;
    padding-top: 90px;
  }
}

@media (min-width: 45em) {
  .paragraph-two-column .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.paragraph-two-column *:last-child {
  margin-bottom: 0;
}

@media (min-width: 45em) {
  .paragraph-two-column__first, .paragraph-two-column__last {
    width: 48%;
  }
}

.paragraph-two-column__first {
  margin-bottom: 20px;
}

@media (min-width: 45em) {
  .paragraph-two-column__first {
    margin-bottom: 0;
  }
}

@media (min-width: 45em) {
  .paragraph-two-column__last {
    margin-left: auto;
  }
}

.tabs {
  margin-left: auto;
  margin-right: auto;
  max-width: 1340px;
  padding-left: 20px;
  padding-right: 20px;
  padding-left: 0;
  padding-right: 0;
}

.tabs:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 86.25em) {
  .tabs {
    padding-left: 0;
    padding-right: 0;
  }
}

.view-blog__image {
  margin-bottom: 20px;
}

.view-blog__image img {
  display: block;
  width: 100%;
}

.view-blog__submitted {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 14px;
  line-height: 0.875rem;
  color: #999;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.view-blog__title {
  margin-bottom: 5px;
}

.view-blog__title a,
.view-blog__title a:visited {
  text-decoration: none;
}

.view-blog__title a:hover, .view-blog__title a:focus,
.view-blog__title a:visited:hover,
.view-blog__title a:visited:focus {
  text-decoration: none;
}

.view-blog__body p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
}

.view-careers .view-content ul {
  margin: 0;
  padding: 0;
}

.view-careers .view-content li {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
}

.view-careers .view-content li:before {
  display: none;
}

.view-careers .view-content li:last-child {
  margin-bottom: 0;
}

.view-careers .view-content h3 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 40px;
  line-height: 2.5rem;
  border-bottom: 2px solid #f0f0f0;
  color: #4a4a4a;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.view-careers__title {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 27px;
  line-height: 1.6875rem;
  font-weight: 400;
  margin-bottom: 5px;
}

.view-careers__title a,
.view-careers__title a:visited {
  text-decoration: none;
}

.view-careers__title a:hover, .view-careers__title a:focus,
.view-careers__title a:visited:hover,
.view-careers__title a:visited:focus {
  text-decoration: none;
}

.view-careers__authored-on {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 14px;
  line-height: 0.875rem;
  color: #999;
  font-style: italic;
}

.view-careers__authored-on--label {
  font-style: normal;
  font-weight: 700;
}

.view-contact {
  margin-left: auto;
  margin-right: auto;
  max-width: 1340px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
}

.view-contact:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 86.25em) {
  .view-contact {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 45em) {
  .view-contact .view-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .view-contact .view-content:after {
    content: "";
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    max-width: 48.30508%;
  }
}

@media (min-width: 63.75em) {
  .view-contact .view-content:after {
    max-width: 31.63842%;
  }
}

.view-contact__item {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 30px;
  line-height: 1.875rem;
  margin-bottom: 60px;
}

@media (min-width: 45em) {
  .view-contact__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    max-width: 48.30508%;
  }
}

@media (min-width: 63.75em) {
  .view-contact__item {
    max-width: 31.63842%;
  }
}

.view-contact__item:last-child {
  margin-bottom: 0;
}

.view-contact .node__content {
  padding-top: 0;
}

.block-views-blockemployee-block-1 > h2 {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 48px;
  line-height: 3rem;
  margin-bottom: 40px;
  text-align: center;
}

.view-employee__image img {
  border-radius: 50%;
  display: block;
  margin: 0 auto 20px;
}

.view-employee__title {
  font-size: 32px;
  font-size: 2rem;
  line-height: 40px;
  line-height: 2.5rem;
  border-bottom: 2px solid #f0f0f0;
  color: #4a4a4a;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.view-employee__title a,
.view-employee__title a:visited {
  text-decoration: none;
}

.view-faq .view-content ul {
  margin: 0;
  padding: 0;
}

.view-faq .view-content li {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
}

.view-faq .view-content li:before {
  display: none;
}

.view-faq .view-content li:last-child {
  margin-bottom: 0;
}

.view-faq .view-content h3 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 40px;
  line-height: 2.5rem;
  border-bottom: 2px solid #f0f0f0;
  color: #4a4a4a;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.view-faq__title {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 27px;
  line-height: 1.6875rem;
  font-weight: 400;
  margin-bottom: 5px;
}

.view-faq__title a,
.view-faq__title a:visited {
  text-decoration: none;
}

.view-faq__title a:hover, .view-faq__title a:focus,
.view-faq__title a:visited:hover,
.view-faq__title a:visited:focus {
  text-decoration: none;
}

.view-faq__authored-on {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 14px;
  line-height: 0.875rem;
  color: #999;
  font-style: italic;
}

.view-faq__authored-on--label {
  font-style: normal;
  font-weight: 700;
}

.view-faq__icon {
  background-size: cover;
  display: block;
  height: 125px;
  margin: 0 auto 20px;
  width: 125px;
}

.view-faq__icon-6 {
  background-image: url("../images/faq/financial-options.svg");
}

.view-faq__icon-7 {
  background-image: url("../images/faq/help-and-support.svg");
}

.view-faq__icon-8 {
  background-image: url("../images/faq/how-to-buy.svg");
}

.view-faq__icon-9 {
  background-image: url("../images/faq/installation-process.svg");
}

.view-faq__icon-10 {
  background-image: url("../images/faq/solar-technology.svg");
}

.view-faq__icon-11 {
  background-image: url("../images/faq/sunpower-products.svg");
}

.view-media:after {
  content: "";
  display: table;
  clear: both;
}

.view-media .view-three-column__item {
  border: 1px solid #cedde5;
  border-radius: 3px;
  margin-bottom: 35px;
  overflow: hidden;
  padding-bottom: 40px;
  position: relative;
}

.view-media .view-three-column__item:last-child {
  margin-bottom: 35px;
}

.view-media__video {
  margin-bottom: 20px;
}

.view-media__video img {
  display: block;
  width: 100%;
}

.view-media__video .video-embed-field-launch-modal {
  position: relative;
}

.view-media__video .video-embed-field-launch-modal:before {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  border-width: 10px 0 10px 22px;
  content: "";
  height: 0;
  margin-left: 3px;
  width: 0;
  z-index: 2;
}

.view-media__video .video-embed-field-launch-modal:after {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  border: 1px solid #fff;
  content: "";
  cursor: pointer;
  display: block;
  height: 50px;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
  width: 50px;
}

.view-media__video .video-embed-field-launch-modal:hover:after, .view-media__video .video-embed-field-launch-modal:focus:after {
  background-color: rgba(0, 0, 0, 0.75);
}

.view-media__title {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 36px;
  line-height: 2.25rem;
  padding: 0 20px;
}

.view-media__title a,
.view-media__title a:visited {
  text-decoration: none;
}

.view-media__title a:hover, .view-media__title a:focus,
.view-media__title a:visited:hover,
.view-media__title a:visited:focus {
  text-decoration: none;
}

.view-media__body {
  margin-bottom: 20px;
  padding: 0 20px;
}

.view-media__body p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin-bottom: 0;
}

.view-media .sharethis-wrapper {
  background: #f3f7f8;
  bottom: 0;
  left: 0;
  position: absolute;
  padding: 8px 20px;
  width: 100%;
}

.view-media .sharethis-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.view-media .sharethis-wrapper .st_sharethis {
  float: right;
}

.view-media .sharethis-wrapper .st_sharethis > span {
  margin: 0 !important;
}

.view-media .sharethis-wrapper .st_fblike {
  float: left;
}

.view-media .sharethis-wrapper .st_fblike > span {
  margin: 0 !important;
}

.view-portfolio {
  margin-left: auto;
  margin-right: auto;
  max-width: 1340px;
  padding-left: 20px;
  padding-right: 20px;
}

.view-portfolio:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 86.25em) {
  .view-portfolio {
    padding-left: 0;
    padding-right: 0;
  }
}

.view-portfolio__item {
  background-color: #f3f7f8;
  margin-bottom: 20px;
}

@media (min-width: 63.75em) {
  .view-portfolio__item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
    padding-bottom: 0;
  }
}

.view-portfolio__item:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

@media (min-width: 63.75em) {
  .view-portfolio__item:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}

@media (min-width: 63.75em) {
  .view-portfolio__column {
    width: 50%;
  }
}

.view-portfolio__column-content {
  padding: 20px;
}

.view-portfolio__blockquote {
  border: 0;
  display: block;
  position: relative;
  padding-left: 5px;
  quotes: "\201c" "\201d";
}

@media (min-width: 63.75em) {
  .view-portfolio__blockquote {
    padding-left: 60px;
  }
}

.view-portfolio__blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 100px;
  left: -40px;
  line-height: 100%;
  position: absolute;
  top: -10px;
}

@media (min-width: 63.75em) {
  .view-portfolio__blockquote:before {
    left: 0;
  }
}

@media (min-width: 63.75em) {
  .view-portfolio__blockquote p {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 36px;
    line-height: 2.25rem;
  }
}

.view-portfolio__blockquote cite {
  color: #1489b8;
  display: block;
  font-style: normal;
  text-align: right;
}

@media (min-width: 63.75em) {
  .view-portfolio__blockquote cite {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 30px;
    line-height: 1.875rem;
  }
}

.view-portfolio__image img {
  display: block;
  width: 100%;
}

.view-service {
  margin-left: auto;
  margin-right: auto;
  max-width: 1340px;
  padding-left: 20px;
  padding-right: 20px;
}

.view-service:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 86.25em) {
  .view-service {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 63.75em) {
  .view-service__item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 0;
  }
}

.view-service__item:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

@media (min-width: 63.75em) {
  .view-service__item:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}

@media (min-width: 63.75em) {
  .view-service__column {
    width: 50%;
  }
}

.view-service__column-content {
  padding-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 63.75em) {
  .view-service__column-content {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.view-service__title {
  text-transform: uppercase;
}

.view-service__title a,
.view-service__title a:visited {
  text-decoration: none;
}

.view-service__title a:hover, .view-service__title a:focus,
.view-service__title a:visited:hover,
.view-service__title a:visited:focus {
  text-decoration: none;
}

.view-service__image img {
  display: block;
  width: 100%;
}

.view-three-column {
  margin-left: auto;
  margin-right: auto;
  max-width: 1340px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
}

.view-three-column:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 86.25em) {
  .view-three-column {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 45em) {
  .view-three-column .view-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .view-three-column .view-content:after {
    content: "";
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    max-width: 48.30508%;
  }
}

@media (min-width: 63.75em) {
  .view-three-column .view-content:after {
    max-width: 31.63842%;
  }
}

.view-three-column__item {
  margin-bottom: 20px;
}

@media (min-width: 45em) {
  .view-three-column__item {
    margin-bottom: 60px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    max-width: 48.30508%;
  }
}

@media (min-width: 63.75em) {
  .view-three-column__item {
    max-width: 31.63842%;
  }
}

.view-three-column__item:last-child {
  margin-bottom: 0;
}

.webform-submission-quote-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
}

@media (min-width: 45em) {
  .webform-submission-quote-form {
    max-width: none;
  }
}

.webform-submission-quote-form .form-item {
  margin-bottom: 5px;
  margin-top: 0;
  position: relative;
}

.webform-submission-quote-form .form-item input {
  background-color: rgba(255, 255, 255, 0.85);
  border: 0;
  color: #4a4a4a;
  height: 45px;
  line-height: 45px;
  width: 100%;
}

.webform-submission-quote-form .form-item label {
  color: #4a4a4a;
  position: absolute;
  left: 15px;
  top: 12px;
}

.webform-submission-quote-form .form-actions {
  margin-bottom: 0;
  margin-top: 0;
}

.webform-submission-quote-form .button {
  font-size: 16px;
  font-size: 1rem;
  line-height: 16px;
  line-height: 1rem;
  letter-spacing: 0.028em;
  height: 45px;
  font-weight: 700;
  padding-bottom: 0;
  padding-top: 0;
  text-transform: uppercase;
  width: 100%;
}

@media (min-width: 45em) {
  .node__article {
    padding-top: 50px;
  }
}

.node__article.with-hero {
  padding-top: 0;
}

.node__meta {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 14px;
  line-height: 0.875rem;
  color: #999;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.node .links li::before {
  display: none;
}

.region-title {
  padding-top: 20px;
}

@media (min-width: 45em) {
  .region-title {
    padding-top: 70px;
  }
}

.node-article__image {
  margin-bottom: 20px;
}

@media (min-width: 45em) {
  .node-article__image {
    float: left;
    margin-right: 40px;
    width: 49.15254%;
  }
}

@media (min-width: 63.75em) {
  .node-article__image {
    width: 32.20339%;
  }
}

.node-article__image img {
  display: block;
}

.node-article__footer {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.node-article__footer:after {
  content: "";
  display: table;
  clear: both;
}

.node-article__footer .sharethis-wrapper {
  margin-bottom: 10px;
}

@media (min-width: 45em) {
  .node-article__footer .sharethis-wrapper {
    float: left;
    margin-bottom: 0;
    width: 25%;
  }
}

.node-article__tags {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 14px;
  line-height: 0.875rem;
}

@media (min-width: 45em) {
  .node-article__tags {
    float: right;
    text-align: right;
    width: 75%;
  }
}

.node-career__header {
  background-color: #f3f7f8;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.node-career__submitted-icon {
  margin-right: 10px;
}

.node-career__header-field {
  margin-top: 10px;
}

.node-career__header-field-title {
  font-weight: bold;
}

.node-career__detail {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.node-career__detail-section {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 10px;
}

.node-career__detail-text {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 18px;
  line-height: 1.125rem;
  line-height: 1.5;
}

.node-career__apply-button {
  float: right;
  clear: left;
}

@media (min-width: 45em) {
  .node--type-employee .node__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
  }
}

.node-employee__image {
  margin-bottom: 20px;
}

@media (min-width: 45em) {
  .node-employee__image {
    margin-bottom: 0;
    width: 23.72881%;
  }
}

@media (min-width: 45em) {
  .node-employee__body {
    padding-left: 3.38983%;
    width: 74.57627%;
  }
}

.node-service__image {
  margin-bottom: 20px;
}

@media (min-width: 45em) {
  .node-service__image {
    float: left;
    margin-right: 40px;
    width: 49.15254%;
  }
}

@media (min-width: 63.75em) {
  .node-service__image {
    width: 32.20339%;
  }
}

.node-service__image img {
  display: block;
}

.node--type-store .node__content {
  padding-top: 50px;
}

.node--type-store__column-first {
  margin-bottom: 20px;
}

@media (min-width: 45em) {
  .node--type-store__column-first {
    float: right;
    margin-bottom: 0;
    width: 66.10169%;
  }
}

@media (min-width: 45em) {
  .node--type-store__column-last {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 30px;
    line-height: 1.875rem;
    float: left;
    font-weight: 400;
    width: 32.20339%;
  }
}

.node--type-store__image {
  margin-bottom: 45px;
}

.node--type-store__title {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 40px;
  line-height: 2.5rem;
  color: #1f3d7a;
  font-weight: 400;
  margin-bottom: 15px;
}

.node--type-store__address {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.node--type-store__phone {
  margin-bottom: 20px;
}

.node--type-store__phone i {
  margin-right: 7px;
}

.node--type-store__email {
  margin-bottom: 55px;
}

.node--type-store__email i {
  margin-right: 7px;
}

.node--type-store__email a,
.node--type-store__email a:visited {
  text-decoration: none;
}

.node--type-store__email a:hover, .node--type-store__email a:focus,
.node--type-store__email a:visited:hover,
.node--type-store__email a:visited:focus {
  text-decoration: none;
}

footer[role="contentinfo"] {
  background-color: #000;
  color: #fff;
}

.region-footer-top {
  background-color: #262631;
  margin-top: 46px;
  padding-top: 60px;
  position: relative;
}

@media (min-width: 45em) {
  .region-footer-top {
    padding-bottom: 50px;
  }
}

.region-footer-top:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  border-color: transparent transparent #262631;
  border-style: solid;
  border-width: 0 30px 20px;
  content: "";
  height: 0;
  top: -20px;
  width: 0;
}

.region-footer-top .back-to-top {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  display: block;
  height: 60px;
  top: 0;
  width: 60px;
}

.region-footer-top .back-to-top:after {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background-color: #f7921d;
  content: "";
  height: 28px;
  width: 1px;
}

.region-footer-top .back-to-top span {
  display: block;
  position: relative;
}

.region-footer-top .back-to-top span em {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

.region-footer-top .back-to-top span em:active, .region-footer-top .back-to-top span em:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: static !important;
  width: auto;
}

.region-footer-top .back-to-top span:before, .region-footer-top .back-to-top span:after {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background: #f7921d;
  content: "";
  display: block;
  height: 21px;
  top: -5px;
  width: 1px;
}

.region-footer-top .back-to-top span:before {
  margin-left: -9px;
  -webkit-transform: rotate(55deg);
  transform: rotate(55deg);
}

.region-footer-top .back-to-top span:after {
  margin-left: 8px;
  -webkit-transform: rotate(-55deg);
  transform: rotate(-55deg);
}

.region-header-top {
  font-size: 10px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  background-color: #1E866B;
  height: 50px;
  padding: 0 30px;
  color: #fff;
}

.region-header-top a,
.region-header-top a:visited {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 45em) {
  .region-header {
    border-bottom: 1px solid #cedde5;
  }
}

html {
  background-color: #000;
  color: #4a4a4a;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #fff;
}

body.is-navigation-expanded {
  overflow: hidden;
}

a,
a:visited {
  color: #1489b8;
  text-decoration: underline;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

a:hover, a:focus,
a:visited:hover,
a:visited:focus {
  color: #c9413b;
  text-decoration: underline;
}

@media print {
  html {
    background-color: transparent !important;
  }
  a:link,
  a:visited {
    color: #1489b8 !important;
    text-decoration: underline !important;
  }
  .main {
    float: none !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }
  .main a[href]:after {
    content: " (" attr(href) ")";
    font-weight: normal;
    font-size: 16px;
  }
  .main a[href^="javascript:"]:after,
  .main a[href^="#"]:after {
    content: "";
  }
  .main abbr[title]:after {
    content: " (" attr(title) ")";
  }
  body,
  .main {
    background-color: transparent !important;
    background-image: none !important;
    color: #000 !important;
  }
  .page-container {
    max-width: none !important;
  }
  h1 {
    color: #000 !important;
  }
  /* Hide sidebars and nav elements. */
  #skip-link,
  header,
  .region-sidebar-first,
  .footer {
    display: none !important;
    visibility: hidden !important;
  }
}
