@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?92368364');
  src: url('../font/fontello.eot?92368364#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?92368364') format('woff'),
       url('../font/fontello.ttf?92368364') format('truetype'),
       url('../font/fontello.svg?92368364#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?92368364#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-chart-bar-outline:before { content: '\e800'; } /* '' */
.icon-key-outline:before { content: '\e801'; } /* '' */
.icon-desktop:before { content: '\e802'; } /* '' */
.icon-lightbulb:before { content: '\e803'; } /* '' */
.icon-lock-open-filled:before { content: '\e804'; } /* '' */
.icon-doc:before { content: '\e805'; } /* '' */
.icon-puzzle-outline:before { content: '\e806'; } /* '' */
.icon-home-outline:before { content: '\e807'; } /* '' */
.icon-pin-outline:before { content: '\e808'; } /* '' */
.icon-info-outline:before { content: '\e809'; } /* '' */
.icon-leaf:before { content: '\e80a'; } /* '' */
.icon-lifebuoy:before { content: '\e80b'; } /* '' */
.icon-dollar:before { content: '\e80c'; } /* '' */
.icon-dollar-1:before { content: '\e80d'; } /* '' */
.icon-town-hall:before { content: '\e80e'; } /* '' */
.icon-warehouse:before { content: '\e80f'; } /* '' */