@import url(http://fonts.googleapis.com/css?family=Cinzel:400,700|Raleway:100,200,400,500,600);

body {
  font-family: Raleway;
  font-size: 18px;
  color: #000;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  vertical-align: top;
}

p {
  line-height: 1.6em;
  font-weight: 400;
}

h2 {
  font-family: Trajan Pro, Cinzel;
  color: #1E866B;
  font-weight: 100;
  font-size: 32px;
}

header .row {
  margin: 0;
}

header .global-nav {
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, .25);
  background-color: #1E866B;
  height: 50px;
  padding: 0 30px;
}

header .global-nav .navbar {
  margin: 0;
}

header .global-nav .navbar-form {
  padding: 9px 0;
  margin: 0;
}

header .global-nav a {
  opacity: .75;
  padding-top: 14px;
  padding-bottom: 0;
  color: #fff;
}

header .main-nav {
  padding: 0 0 0 20px;
  border-bottom: 1px solid rgba(255, 255, 255, .25);
  background-color: rgba(255, 255, 255, 0.85);
  position: absolute;
  width: 100%;
  z-index: 300;
}

.navbar {
  margin-bottom: 0;
  border: none;
}

header .main-nav .navbar {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  padding: 0 20px;
  min-height: inherit;
}

header .main-nav .navbar-nav {
  margin-right: 10px;
}

header .main-nav .dropdown-menu {
  background: rgba(255, 255, 255, 0.85);
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: transparent;
  border-bottom: none;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: rgba(152, 152, 51, 0.43);
}

.dropdown-menu>li>a {
  padding: 8px 20px;
}

header .my-nav > li > a {
  opacity: .75;
  padding: 25px 0 3px 0;
  margin-left: 30px;
  font-size: 17px;
  font-weight: 500;
}

.navbar-default .navbar-nav>li>a {
  color: #000;
}

header .my-nav > li > a.active {
  border-bottom: 3px solid #555;
}

header .navbar img {
  margin-top: 0px;
}

header .nav>li>a:hover, header .nav>li>a:focus {
  background-color: transparent;
}

.jumbotron {
  min-height: 440px;
  margin: 0;
 }


.jumbotron h1 {
  font-size: 38px !important;
  margin: 270px 0 0 30px;
  font-family: Raleway;
  color: #fff;
  padding: 0 100px;
  font-weight: 100;
}

.jumbotron-secondary h1 {
  font-size: 38px !important;
  margin: 270px 0 0 30px;
  font-family: Raleway;
  color: #fff;
  padding: 0 100px;
  font-weight: 100;
}

.parallax {
  background-position: center center;
  background-attachment: initial;
  background-size: cover;
}

.main-content {
  background-color: #FEF8EC;
  padding-top: 70px;
  padding-bottom: 70px;
}

.main-content h2 {
  margin-top: 0;
  margin-bottom: 15px;
}

.main-content h2 .caret {
  border: 0;
}

.main-content h3 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 0;
  color: #777733;
}

.main-content dt {
  font-size: 24px;
  font-weight: 500;
  margin-top: 0;
}

.main-content h3 a, .main-content dt a {
  color: #777733;
}

.main-content dd {
  margin-bottom: 30px;
  font-size: 14px;
}

.business-case-thumbnail {
  width: 220px;
  height: 220px;
  margin-right: 30px;
  border: 7px solid white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
}

.business-case-thumbnail-2 {
  width: 220px;
  height: 220px;
  margin-right: 30px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, .4);
}

article {
  margin-bottom: 40px;
}

footer {
  text-align: center;
  background-color: #1E866B;
  color: #fff;
  padding: 50px 0;
  font-size: 14px;
}

.lead {
  font-size: 28px;
  color: #666;
}

.global-search .form-text {
  height: 30px;
  font-size: 12px;
  width: 300px;
  border: none;
  padding: 0 10px;
}

#block-user-login .form-submit, .global-search .form-submit {
  color: white;
  background-color: rgba(217, 167, 49, 1);
  border: none;
  padding: 8px;
  font-size: 10px;
  font-family: Raleway, Arial;
}

.global-search .btn-default {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}

.headline-icon {
  padding: 15px 6px 6px 10px;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  margin-right: 15px;
  color: #fff;
  font-size: 28px;
  background-color: #238669;
}

.icon-briefcase {
  background: url(../img/kma-icons.png) no-repeat 0 0;
}

.icon-signal {
  background: url(../img/kma-icons.png) no-repeat 0 -60px;
}

/* SECONDARY PAGE LAYOUT */

.nav-stacked>li+li {
  margin: 0;
  margin-top: -1px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.nav-pills>li>a {
  border-radius: 0;
  color: #000;
  font-size: 17px;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: rgba(205, 205, 49, 0.07);
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color: rgba(119, 119, 51, 0.65);
}

.headline-icon-secondary {
  border-radius: 100%;
  display: block;
  width: 60px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 28px;
  border: none;
  background-color: #238669;
  position: relative;
}

.image-style {
  margin-right: 30px;
  margin-bottom: 15px;
  border: 7px solid white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
}

.secondary-page .group-left img {
  margin-right: 30px;
  margin-bottom: 15px;
  border: 7px solid white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
}

.secondary-page .group-right {
  font-size: 14px;
  padding: 0 20px;
  margin-top: 50px;
}

.btn-primary {
  background-color: rgba(213, 152, 7, 0.7);
  border: none;
  margin-top: 20px;
  display: block;
  width: 100px;
}

.btn-primary a {
	color:#FFFFFF !important;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: #DA9B07;
  border-color: #DA9B07;
  text-decoration: none;
}

.btn-teaser {
  padding: 0;
  margin: 10px 0 30px 0;
  color: #DA9B07;
}

.btn-teaser a {
  color: #DA9B07;
}

.grid-item {
  padding-top: 40px;
  position: relative;
}

.grid-item:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.grid-item h3 {
  text-align: center;
}

.grid-item a {
  color: #777733;
}

.view-mode-teaser {
  margin-bottom: 40px;
}

.bio h3 {
  margin-top: 40px;
}

.bio h4 {
  margin-top: 25px;
}

.bio em {
  font-size: 23px;
  font-weight: 500;
  opacity: 0.7;
}

.bio .field-name-field-headshot img {
  border: 7px solid white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
  max-width: inherit;
}

.content-highlighted{
	background-color: rgba(213, 152, 7, 0.08);
  padding: 20px 30px;
  font-size: 17px;
}

h4 {
  color: #1E866B;
  font-size: 20px;
}

.content-highlighted ul li {
  padding-top: 8px;
  font-weight: 400 !important;
}

.sidebar{
	vertical-align: top;
	width: 20%;
	padding-left: 10px;
}

.sidebar-content{
	vertical-align: top;
	background-color: #EFE9DD;
	padding: 10px 20px 20px 20px;
	border: 1px solid #DED8CC;
	text-align: left;
	font-size: 14px;
  margin-top: -50px;
}


.sidebar-content a{
	color: #886A08;
}

.view-clients-by-type .row {
  margin-right: 0;
  margin-left: 0;
  margin-top: 40px;
}

.view-clients-by-type h3 {
  color: white;
  background-color: rgba(213,152,7,0.7);
  border-radius: 30px;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 20px;
  padding: 6px 15px;
}

.view-bio-by-office .row {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 50px;
}

.view-bio-by-office .row h3{
  padding-top: 15px;
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-bottom: 1px solid gray;
}

.view-bio-by-office .row-view-item {
  position: relative;
  text-align: center;
  padding: 0;
  min-height: 195px;
}

.view-bio-by-office .row-view-item img {
  margin-bottom: 10px;
  border: 5px solid white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
  display: initial;
  max-width: inherit;
  margin-left: auto;
  margin-right: auto;
}

.view-bio-by-office .row-view-item a {
  color: rgba(213, 152, 7, 0.9);
  font-weight: 500;
  margin-top: 10px;
}

.bio-item a {
  color: #886A08;
}

.bio-item-details {
  font-size: 16px;
}

.bio-title{
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 0;
  color: #777733;
}

.content{
	vertical-align: top;
}

.content-title{
	font-weight: bold;
}

.content-title a{
	color: #DA9B07;
}

.icon-address {
	background: url(../img/icon_address.png) no-repeat 0 0;
  	width: 60px;
  	height: 60px;
  	display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon-phone {
	background: url(../img/icon_phone_number.png) no-repeat 0 0;
  	width: 60px;
  	height: 60px;
  	display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon-phone:before {
  content: "";
}

.icon-email {
	background: url(../img/icon_email.png) no-repeat 0 0;
  	width: 60px;
  	height: 60px;
  	display: block;
    margin-left: auto;
    margin-right: auto;
}

.address-map {
  	height: 400px;
}

.label-inline{
  	float:left;
	font-weight: bold;
}

.slideShowButton {
  width: 50px;
  height: 50px;
  opacity: .6;
  margin: 0 20px;
}

.slideShowButton:hover {
  opacity: 1;
}

#block-views-slide-show-view-block {
  position: relative;
}

.carousel-nav {
  width: 100%;
  position: absolute;
  bottom: 40px;
  text-align: center;
}

nav ul li ul{
	display: none;
}

nav ul li:hover ul{
	display: block;
}

tbody {
  border: 0px;
  padding-right: 0;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  color: white;
  position: absolute;
  top: 15px;
  left: 10px;
}

#tabs-wrapper {
  padding-bottom: 40px !important;
}

.client span {
  color: black;
  margin: 10px 20px 0px 0;
  font-size: 15px;
  float: left;
  width: 250px;
  height: 40px;
  line-height: normal;
}

.view-top-news h3 {
  margin-top: 40px;
}

.city {
  text-align: center;
  margin-bottom: 30px;
}

.city h3 {
  padding-top: 20px;
}

.city div {
  width: 100%;
  height: 340px;
  display: block;
  border: 7px solid white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
}

.city .sf-map {
  background: url(../img/contact-sf-office.jpg) no-repeat center center;
}

.city .la-map {
  background: url(../img/contact-la-office.jpg) no-repeat center center;
}

.city .sd-map {
  background: url(../img/contact-sd-office.jpg) no-repeat center center;
}

.secondary-page .main-content {
	margin-top: 70px;
}



/* Login widget */

#block-user-login {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

#block-user-login .form-submit {
}

#toboggan-login {
  background: rgba(62, 111, 98, 0.59);
  padding: 5px 15px;
  margin-top: 20px;
  position: relative;
}

#toboggan-login:before {
  position: absolute;
  display: inline-block;
  width: 0px;
  height: 0px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid rgba(62, 111, 98, 0.59);
  left: 110px;
  top: -12px;
  content: '';
}

#toboggan-login:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#toboggan-login label {
  font-size: 12px;
  font-family: Arial;
  font-weight: lighter !important;
}

#toboggan-login input {
  border: none;
  color: black;
  padding: 4px;
  width: 100%;
}

div.toboggan-login-link-container a {
  border: 1px solid rgb(23, 105, 84);
  padding: 5px 15px;
  border-radius: 25px;
  background: rgb(62, 111, 98);
  color: white;
  font-size: 10px;
  width: 65px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.toggleboggan_setup-processed .form-item {
  text-align: left;
}

.toggleboggan_setup-processed div ul{
  display: none;
}



/* Media Queries for main navigation */

@media screen and (max-width: 770px) {
  .row.global-nav {
    display: none;
  }

  header .my-nav > li > a.active {
    border-bottom: none;
  }

  .headline-icon {
    display: none;
  }

  .parallax {
    background-position: center center;
    background-attachment: initial;
    background-size: cover;
  }

  .carousel-nav {
    display: none;
  }

  .jumbotron h1 {
    font-size: 20px;
    font-weight: 400;
  }

  .grid-item {
    margin-bottom: 20px;
  }

  /*#block-views-slide-show-view-block {
    display: none;
  }*/
}


@media (max-width: 992px) {
  .my-nav {
    min-width: 120px;
    display: block;
  }

  header .my-nav > li > a.active {
    border-bottom: none;
  }

  .navbar-default .navbar-nav>li>a {
    font-size: 16px;
    padding: 20px;
  }

  header .main-nav .navbar-nav {
    margin-right: -30px;
  }

  .nav .dropdown-menu {
    display: none;
  }

  .navbar-header {
      float: none;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      /*float: none!important;*/
      margin: 45px -15px 7.5px -15px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
      display: block!important;
  }
  .collapsing {
      overflow: hidden!important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
  .grid-item {
    min-height: 680px;
  }

  header .my-nav > li > a.active {
    padding-bottom: 8px;
  }

  .parallax {
    background-position: center center;
    background-attachment: initial;
    background-size: cover;
  }

  .carousel-nav {
    display: none;
  }
}

@media screen and (min-width: 1200px) and (max-width: 2030px) {
  .grid-item {
    min-height: 620px;
  }
}

@media screen and (max-width: 1230px) {
  .kma-logo {
    width: 280px;
  }

  .navbar-default .navbar-nav>li>a {
    line-height: 0;
    font-size: 14px;
  }
}


@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 770px), (min-resolution: 192dpi) and (max-width: 770px) {
  .kma-logo {
    width: 240px;
    margin-top: 4px;
    margin-left: -10px;
  }

  header .main-nav .navbar-nav {
    margin-top: 10px;
  }
}
