@import url(http://fonts.googleapis.com/css?family=Cinzel:400,700|Raleway:100,200,400,500,600);

body {
  font-family: Raleway;
  font-size: 18px;
  color: #000;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

p {
  line-height: 1.6em;
  font-weight: 400;
}

h2 {
  font-family: Trajan Pro, Cinzel;
  color: #1E866B;
  font-weight: 100;
  font-size: 32px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: rgba(152, 152, 51, 0.43);
}

header .row {
  margin: 0;
}

#slideimage.row {
  margin-left: 0;
  margin-right: 0;
}

header .global-nav {
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, .25);
  background-color: #1E866B;
  height: 50px;
  padding: 0 30px;
}

.navbar {
  margin-bottom: 0;
  border: none;
}

header .global-nav .navbar {
  margin: 0;
}

header .global-nav .navbar-form {
  padding: 9px 0;
  margin: 0;
}

header .global-nav a {
  opacity: .75;
  padding-top: 14px;
  padding-bottom: 0;
  color: #fff;
}

header .main-nav {
  padding: 0 0 0 20px;
  border-bottom: 1px solid rgba(255, 255, 255, .25);
  background-color: rgba(255, 255, 255, 0.85);
  position: absolute;
  width: 100%;
  z-index: 300;
}

header .main-nav .navbar {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  z-index: 1000;
  padding: 5px 20px;
  min-height: inherit;
}

header .main-nav .navbar-nav {
  margin-right: 15px;
}

header .main-nav .dropdown-menu {
  background: rgba(255, 255, 255, 0.85);
}

.dropdown-menu>li>a {
  padding: 8px 20px;
}

header .my-nav > li > a {
  opacity: .75;
  padding: 25px 0 3px 0;
  margin-left: 30px;
  font-size: 17px;
  font-weight: 500;
}

.navbar-default .navbar-nav>li>a {
  color: #000;
}


header .navbar img {
  margin-top: 0px;
}

header .nav>li>a:hover, header .nav>li>a:focus {
  background-color: transparent;
}

.jumbotron {
  min-height: 560px;
  margin-bottom: 0;
}

.parallax {
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.jumbotron h1 {
  font-size: 38px;
  margin-top: 310px;
  font-family: Raleway;
  color: #fff;
  background: rgba(119, 119, 51, .7);
  padding: 20px 40px;
  font-weight: 100;
}

.main-content {
  background-color: #FEF8EC;
  padding-top: 70px;
}

.main-content h2 {
  margin-top: 0;
  margin-bottom: 30px;
}

.main-content h2 .caret {
  border: 0;
}

.main-content h3 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 0;
  color: #777733;
}

.main-content dt {
  font-size: 24px;
  font-weight: 500;
  margin-top: 0;
}

.main-content h3 a, .main-content dt a {
  color: #777733;
}

.main-content dd em {
  font-size: 14px;
  font-style: normal;
  font-weight: bolder;
  display: block;
  margin: 10px 0;
}

.right-column {
  padding-left: 40px;
}


.image-style {
  margin-right: 30px;
  margin-bottom: 15px;
  border: 7px solid white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
}

.business-case-thumbnail {
  width: 100%;
  height: 220px;
  margin-right: 30px;
  margin-bottom: 15px;
  border: 7px solid white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
}

.business-case-thumbnail-2 {
  width: 220px;
  height: 220px;
  margin-right: 30px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, .4);
}

article {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(207, 184, 138, 0.28);
}

footer {
  text-align: center;
  background-color: #1E866B;
  color: #fff;
  padding: 50px 0;
  font-size: 14px;
}

.lead {
  font-size: 28px;
  color: #666;
}

.global-search .form-text {
  height: 30px;
  font-size: 12px;
  width: 300px;
  border: none;
  padding: 0 10px;
}

#block-user-login .form-submit, .global-search .form-submit {
  color: white;
  background-color: rgba(217, 167, 49, 1);
  border: none;
  padding: 8px;
  font-size: 10px;
  font-family: Raleway, Arial;
}

.global-search .btn-default {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}

.headline-icon {
  padding: 15px 6px 6px 10px;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  margin-right: 15px;
  color: #fff;
  font-size: 28px;
}

.icon-briefcase {
  color: transparent;
  background: url(../img/kma-icons.jpg) no-repeat 0 0;
}

.icon-signal {
  color: transparent;
  background: url(../img/kma-icons.jpg) no-repeat 0 -60px;
}

.icon-inline {
  width: 30px;
  height: 30px;
  display: inline-block;
  float: left;
  margin-right: 5px;
}

.icon-news-front {
  background: url(../img/kma-icons.png) no-repeat -17px -492px;
}

.icon-post {
  background: url(../img/kma-icons.png) no-repeat -17px -553px;
}

.icon-event {
  background: url(../img/kma-icons.png) no-repeat -17px -607px;
}

.whats-new-item-home {
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

/* SECONDARY PAGE LAYOUT */

.secondary-billboard {
  display: block;
  margin: 300px 50px 0 50px;
  font-size: 35px !important;
  font-weight: 100;
  padding: 20px 30px;
  color: white !important;
  background-color: rgba(119, 119, 51, 0.65);
}

.secondary-nav {
  color: red;
}

.nav-stacked>li+li {
  margin: 0;
  margin-top: -1px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.nav-pills>li>a {
  border-radius: 0;
  color: #000;
  font-size: 17px;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: rgba(205, 205, 49, 0.07);
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color: rgba(119, 119, 51, 0.65);
}

.headline-icon-secondary {
  padding: 15px 6px 6px 10px;
  border-radius: 100%;
  display: block;
  width: 65px;
  height: 65px;
  margin-left: 85px;
  margin-bottom: 20px;
  margin-top: 40px;
  font-size: 28px;
}

.btn-primary, .btn-teaser {
  background-color: rgba(213, 152, 7, 0.7);
  border: none;
  margin-top: 5px;
  margin-bottom: 20px;
  display: block;
  width: 100px;
}

.btn-primary a, .btn-teaser a {
  color: #FFF;
  text-decoration: none;
}

.btn-primary:hover, .btn-teaser:hover {
  background-color: #DA9B07;
  border-color: #DA9B07;
}

.width-icon {
  padding: 1px 6px 1px 10px;
  width: 60px;
  margin-right: 7px;
}

.slideShowButton {
  width: 50px;
  height: 50px;
  opacity: .6;
  margin: 0 20px;
}

.slideShowButton:hover {
  opacity: 1;
}

#block-views-slide-show-view-block {
  position: relative;
}

.carousel-nav {
  width: 100%;
  position: absolute;
  bottom: 40px;
  text-align: center;
}

.topNavigationContent {
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  position: absolute;
  float: left;
  margin-top: 10px	;
  margin-bottom: 0px;
  margin-left: 25px;
}

nav ul li ul{
	display: none;
}

nav ul li:hover ul{
	display: block;
}

tbody {
  border: none;
}



/* Login widget */

#block-user-login {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

#block-user-login .form-submit {
}

#toboggan-login {
  background: rgba(62, 111, 98, 0.59);
  padding: 5px 15px;
  margin-top: 20px;
  position: relative;
}

#toboggan-login:before {
  position: absolute;
  display: inline-block;
  width: 0px;
  height: 0px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid rgba(62, 111, 98, 0.59);
  left: 110px;
  top: -12px;
  content: '';
}

#toboggan-login:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#toboggan-login label {
  font-size: 12px;
  font-family: Arial;
  font-weight: lighter !important;
}

#toboggan-login input {
  border: none;
  color: black;
  padding: 4px;
  width: 100%;
}

div.toboggan-login-link-container a {
  border: 1px solid rgb(23, 105, 84);
  padding: 5px 15px;
  border-radius: 25px;
  background: rgb(62, 111, 98);
  color: white;
  font-size: 10px;
  width: 65px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.toggleboggan_setup-processed .form-item {
  text-align: left;
}

.toggleboggan_setup-processed div ul{
  display: none;
}



/* MEDIA QUERIES */

@media screen and (max-width: 770px) {
  .row.global-nav {
    display: none;
  }

  header .my-nav > li > a.active {
    border-bottom: none;
  }

  .headline-icon {
    display: none;
  }

  .parallax {
    background-position: center center;
    background-attachment: initial;
    background-size: cover;
  }

  .carousel-nav {
    display: none;
  }

  .jumbotron h1 {
    font-size: 20px;
    font-weight: 400;
  }

  /*#block-views-slide-show-view-block {
    display: none;
  }*/
}


@media (max-width: 992px) {
  .my-nav {
    min-width: 120px;
    display: block;
  }

  header .my-nav > li > a.active {
    border-bottom: none;
  }

  .navbar-default .navbar-nav>li>a {
    font-size: 16px;
    padding: 20px;
  }

  header .main-nav .navbar-nav {
    margin-right: -30px;
  }

  .nav .dropdown-menu {
    display: none;
  }

  .navbar-header {
      float: none;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      /*float: none!important;*/
      margin: 45px -15px 7.5px -15px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
      display: block!important;
  }
  .collapsing {
      overflow: hidden!important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
  .grid-item {
    min-height: 680px;
  }

  header .my-nav > li > a.active {
    padding-bottom: 8px;
  }

  .parallax {
    background-position: center center;
    background-attachment: initial;
    background-size: cover;
  }

  .carousel-nav {
    display: none;
  }
}

@media screen and (min-width: 1200px) and (max-width: 2030px) {
  .grid-item {
    min-height: 600px;
  }
}

@media screen and (max-width: 1230px) {
  .kma-logo {
    width: 280px;
  }

  .navbar-default .navbar-nav>li>a {
    line-height: 0;
    font-size: 14px;
  }
}


@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 770px), (min-resolution: 192dpi) and (max-width: 770px) {
  .kma-logo {
    width: 240px;
    margin-top: 4px;
    margin-left: -10px;
  }

  header .main-nav .navbar-nav {
    margin-top: 10px;
  }
}
