// =============================================================================
// LAYOUT
// =============================================================================

.inner,
.page-container {
  @include inner;
}

// Sidebar first.
.sidebar-first {
  @include breakpoint($bp-medium-up) {

    // Main.
    .main {
      float: right;
      width: span(6);
    }

    // Sidebar first.
    .region-sidebar-first {
      float: left;
      width: span(2);
      padding-top: 25px;
    }
  }
}

// Container.
.layout-container {
  @include inner;

  // Page.
  body.page-node-type-page & {
    @include inner-reset;
  }

  // User pages.
  body.path-user & {
    padding-bottom: 40px;

    @include breakpoint($bp-medium-up) {
      padding-top: 130px;
    }
  }
}

// Secondary Page
.secondary-page-content {
  margin-top: 60px;
}
