// =============================================================================
// HEADER
// =============================================================================

// Header Top.
.region-header-top {
  font-size: 10px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, .25);
  background-color: #1E866B;
  height: 50px;
  padding: 0 30px;
  color: $white;

  // Links.
  a,
  a:visited {
    color: $white;
    text-decoration: none;
  }
}

// Header.
.region-header {
  @include breakpoint($bp-medium-up) {
    border-bottom: 1px solid #cedde5;
  }
}
